@inherits LayoutComponentBase

<RadzenComponents/>

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)"/>
            <RadzenLabel Text="Drug Store Admin"/>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@_sidebarExpanded">
        <div class="logo-container">
            <img src="logo.svg" alt="Drug Store Admin" />
        </div>
        <RadzenPanelMenu>
            <ChildContent>
                <RadzenPanelMenuItem Text="Catalog" Icon="inventory">
                    <RadzenPanelMenuItem Text="Categories" Path="category"/>
                    <RadzenPanelMenuItem Text="Products" Path="production"/>
                    <RadzenPanelMenuItem Text="News" Path="news"/>
                    <RadzenPanelMenuItem Text="Posts" Path="post"/>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Customers" Icon="people">
                    <RadzenPanelMenuItem Text="Customers" Path="customer" />
                    <RadzenPanelMenuItem Text="Order" Path="order"/>
                    <RazdenPanelMenuItem Text="Basket" Path="basket"/>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Settings" Icon="settings">
                    <RadzenPanelMenuItem Text="Roles" Path="role"/>
                    <RadzenPanelMenuItem Text="Permissions" Path="permission"/>
                    <RadzenPanelMenuItem Text="Users" Path="user"/>
                </RadzenPanelMenuItem>
            </ChildContent>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool _sidebarExpanded = true;
}