@page
@model DrugStore.IdentityServer.Pages.ExternalLogin.Callback

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Callback</title>
</head>
<body>
<div>

</div>
</body>
</html>