@page "/products/add"

<RadzenText TextStyle="TextStyle.H3">Categories</RadzenText>

<div class="rz-m-12">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/" Text="Home"/>
        <RadzenBreadCrumbItem Path="products" Text="Products" />
        <RadzenBreadCrumbItem Text="Add"/>
    </RadzenBreadCrumb>
</div>