@page "/products/edit/{Id}"

<RadzenText TextStyle="TextStyle.H3">Edit Product</RadzenText>

<div class="rz-m-12">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/" Text="Home"/>
        <RadzenBreadCrumbItem Path="products" Text="Products"/>
        <RadzenBreadCrumbItem Text="Edit"/>
    </RadzenBreadCrumb>
</div>